/* course */

.course {
  padding: 3rem 0;
  border-bottom: 1px solid var(--gray);
  margin-bottom: 2rem;
}

.course:last-of-type {
  border-bottom: none;
}

@media(min-width: 768px) {
  .course {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}