:root {
  --headingFont: 'PT Sans', sans-serif;
  --paragraphFont: 'Open Sans', sans-serif;
  --primary: #784d3c;
  --white: #ffffff;
  --black: #000000;
  --gray: #e1e1e1;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--paragraphFont);
  font-size: 1.6rem;
  line-height: 2;
}

/* Globals */
.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--headingFont);
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}

.button {
  display: block;
  font-family: var(--headingFont);
  color: white;
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
  border: none;
}

.button:hover{
  cursor: pointer;
}

@media (min-width: 768px) {
  .button {
    display: inline-block;
  }
}

.button--primary {
  background-color: var(--black);
}

.button--secondary {
  background-color: var(--primary);
}

/* Helpers */
.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.text-center {
  text-align: center;
}

/* Header */
.header {
  background-image: url(../img/banner.jpg);
  height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header__text {
  color: var(--white);
  text-align: center;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .header__text {
    margin-top: 15rem;
  }
}

.bar{
  padding-top: 4rem;
}

@media (min-width: 768px) {
  .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo__name {
  color: white;
  font-weight: normal;
}

.logo__bold {
  font-weight: bold;
}

.navigation__link {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: var(--white);
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
    gap: 2rem;
  }
}

/* main-content */
@media (min-width: 768px) {
  .main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
}

.entry {
  border-bottom: 1px solid var(--gray);
  margin-bottom: 2rem;
}

.entry:last-of-type {
  border: none;
  margin-bottom: 0;
}

/* courses */
.courses{
  list-style: none;
}

.widget_course{
  border-bottom: 1px solid var(--gray);
  margin-bottom: 2rem;
}

.widget_course:last-of-type{
  border-bottom: none;
  margin-bottom: 0;
}

.widget_course__label{
  font-family: var(--headingFont);
  font-weight: bold;
  font-size: 2rem;
}

.widget_course__info{
  font-weight: normal;
}

/* footer */
.footer {
  background-color: var(--black);
  padding-bottom: 3rem;
  margin-top: 4rem;
}

.footer_container {
  display: flex;
  justify-content: space-between;
}