@use 'variables' as vars;

@mixin phone {
  @media (min-width: vars.$phone) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: vars.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: vars.$desktop) {
    @content;
  }
}

@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}