@use 'base/variables' as vars;
@use 'base/mixins' as mixins;

.lineup {
  background-color: vars.$pink;
  padding: 4rem 0;

  h3,
  p {
    text-align: center;
    color: vars.$white;
  }

  .day {
    text-transform: uppercase;
    margin: 3rem 0;
  }
}

.scenarios-container {
  @include mixins.tablet {
    @include mixins.grid(2, 5rem);
  }

  p {
    color: vars.$black;
  }
}

.scenario {
  padding-top: 2rem;

  p {
    &:after {
      content: '';
      display: block;
      width: 20rem;
      height: 10rem;
      background-size: 15rem;
      background-repeat: no-repeat;
      background-position: center center;
      margin: 2rem auto 0 auto;
    }
  }
}

.edm .name-scenario:after {
  // my position is build/css/app !!
  background-image: url(../img/icono_edm.png);
}

.rock .name-scenario:after {
  // my position is build/css/app !!
  background-image: url(../img/icono_rock.png);
}

.calendar {
  @include mixins.resetUl;

  li {
    padding: 2.5rem;
    font-weight: bold;

    span {
      font-weight: normal;
    }
  }
}

.bg-yellow {
  background-color: vars.$yellow;

  li:nth-child(odd) {
    background-color: darken(vars.$yellow, 10%);
  }
}

.bg-green {
  background-color: vars.$green;

  li:nth-child(odd) {
    background-color: darken(vars.$green, 10%);
  }
}
